<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Детали товара</title>
    <h1 style="margin-left: 30px; margin-top: 30px;">Детали товара</h1>
    <link rel="stylesheet" href="{% static 'main/css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    {% block title %}{% endblock %}
</head>
<body>
    <div class="col-md-5">
        {% if product != None %}
         <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"  style="margin-right: 100px; margin-top: 30px;">
             <div class="col p-4 d-flex flex-column position-static">

                 <h3 class="mb-0">{{product.NAME}}</h3>
                 <div class="mb-1 text-body-secondary">ID товара: {{product.ID}} </div>
                 <p class="mb-auto">Описание: {{product.DESCRIPTION}}</p>
                 <strong class="d-inline-block mb-2 text-success-emphasis">Стоимость: {{product.PRICE}}</strong>
             </div>
             <div class="col-auto d-none d-lg-block">
                 {% if image_url %}
                    <img src="{{ image_url }}" alt="{{ product.NAME }}" width="300">
                 {% else %}
                    <p>Изображение отсутствует</p>
                 {% endif %}
             </div>
         </div>
        {% endif %}
    </div>

    {% if error %}
        <p style="color: red;">Ошибка: {{ error }}</p>
    {% endif %}

</body>
</html>
